body{
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

/*the exact dimensions of the navbar*/
.topnav-spacer{
    width: 100%;
    height: 48px;
}

/*
 * Sections
 */

/* A section with h1 header and paragraph info underneath.
   No picture, just centered text.*/
.basic {
    justify-content: center;
    text-align: center;
}
    .basic:after{
        content: "";
        display: table;
        clear: both;
    }
    .basic h1 {
        font-size: 45px;
    }
    .basic p {
        margin-left: 15%;
        margin-right: 15%;
        text-align: left;
    }
    .basic .textbox{
        margin-top: 0px;
    }
    @media screen and (max-width:1020px) {
        .basic p {
            margin-left: 2%;
            margin-right: 2%;
        }
    }

/* A section with h1 header and paragraph info underneath.
   Include an image*/
.basic-img {
    justify-content: center;
    text-align: center;
    height: 600px;
    background-color: #7fcec5;
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
    
}
    .basic-img:after{
        content: "";
        display: table;
        clear: both;
    }
    .basic-img .textbox{
        margin-left: 8%;
        margin-top: 45px;
        width: 50%;
        float: left;
    }
    .basic-img h1 {
        color: white;
        text-align: left;
        font-family: 'Epilogue', sans-serif;
        font-size: 65px;
    }
    .basic-img p {
        margin-top: 5px;
        text-align: left;
        font-size: 20px;
        color: white;
    }
    .basic-img .phone-image{
        max-width: 35%;
        float: right;
    }
    .basic-img .inner-row{
        margin-top:110px;
        margin-bottom: 40px;
    }
    .basic-img .inner-row:after{
        content: "";
        display: table;
        clear: both;
    }
    .basic-img button{
        width: 45%;
        margin-left: 2.5%;
        float: left;
        padding: 2.5%;
        border: none;
        cursor: pointer;
        color: white;
        border-radius: 10px;
        font-family: 'Epilogue', sans-serif;
        font-size: 20px;
        font-weight: bolder;
        background-color: #000052;
    }
    .basic-img button:hover{
        filter: brightness(1.1);
    }
    .basic-img i{
        color: white;
        float: left;
    }
    .basic-img img{
        height: 600px;
        max-width: 35%;
        margin: 0;
        object-fit: cover;
    }
    #android{
        background-color: #A4C639;
    }
    #apple{
        background-color: #C0C0C0;
    }
    @media screen and (max-width:1020px) {
    
        .basic-img img {
            height: 0;
        }
        .basic-img::before{
            content: "";
            background-image: url('./media/hand-holding-phone.png');
            background-size: cover;
            position: absolute;
            top: 50px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.2;
            height: 600px;
        }
        .basic-img .textbox{
            width: 90%;
            margin-left: 5%;
            opacity: 1;
            position: relative;
            margin-top: 15px;
        }
        .basic-img .inner-row{
            margin-top: 10px;
            position: relative;
        }
    }   

.steps .container:after{
    content: "";
    display: table;
    clear: both;
}
    .steps{
        float: left;
        width: 100%;
        background-color: #3bb78f;
        background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    }
    .steps .container{
        width: 85%;
        margin-left: 8%;
        margin-bottom: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .steps .header{
        margin-top: 50px;
        width: 100%;
        margin-bottom: 40px;
    }
        .steps .header h1{
            color: white;
            font-size: 70px;
            font-family: 'Epilogue', sans-serif;
        }
        .steps .header p{
            color: white;
            font-size: 20px;
        }
    .steps .narrow{
        width: 35%;
    }
    .steps .wide{
        width: 65%;
    }

    .steps .card{
        height: 250px;
        float: left;
        background-color: white;
        text-align: left;
        font-family: 'Epilogue', sans-serif;

    }
        .steps .card .textbox{
            margin-left: 5%;
            margin-top: 35px;
            margin-right: 5%;
            color:#02353C;
        }
        .steps .card h1{
            font-size: 22px;
            font-family: cursive;
            color:green;
        }
        .steps .card h2{
            font-size: 28px;
            color:#02353C;
        }
        .steps .card p{
            font-size: 18px;
            color:#02353C;
        }
        #map-card{
            background-image: url('./media/open-street-map.png');
            background-position: center;
            background-size: cover;
        }
        #photo-card{
            background-image: url('./media/pothole.jpg');
            background-position: center;
            background-size: cover;
        }
        .steps .alt{
            background-color: #f9f9f9;
            margin-left: 12%;
        }

        @media screen and (max-width:800px) {
            .steps .container{
                width: 100%;
                margin-bottom: 1px;
                margin-left: 0;
                
            }
            .steps .header{
                width: 80%;
                margin-left: 10%;
            }
                .steps .header h1{
                    font-size: 40px;
                    font-family: 'Epilogue', sans-serif;
                }
                .steps .header p{
                    font-size: 16px;
                }
            .steps .narrow{
                width: 35%;
            }
            .steps .wide{
                width: 65%;
            }
            .steps .card .textbox{
                margin-left: 3%;
                margin-top: 15px;
                margin-right: 5%;
                color:#02353C;
            }
            .steps .card h1{
                font-size: 20px;
                font-family: cursive;
                color:green;
            }
            .steps .card h2{
                font-size: 25px;
                color:#02353C;
            }
            .steps .card p{
                font-size: 15px;
                color:#02353C;
            }
        }
        































