.next-button{
    width: 60%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    border-radius: 15px;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    cursor: pointer;
}


#error-message{
    display: none;
    color: red;
    
}


.disabled{
    background-color: darkgrey;
    color:lightgrey;
}
.enabled{
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
}
    .enabled:hover{
        filter: brightness(1.2);
    }

.hidden-field{
    display: none;
}

.question h1{
    font-size: 20px;
}
.question p{
    font-size: 18px;
}

.category-option{
    width: 100%;
    height: 12%;
    margin: 1%;
    color:white;
    background-color: #04AA6D;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    border: none;
}
.category-option:hover{
    filter: brightness(1.2);
}

.category-other{
    color: blue;
    text-decoration: underline;
    display: block;
    float: right;
    margin-right: 2%;
    cursor: pointer;

}

.issue-option{
    width: 95%;
    height: 9%;
    color:white;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1%;
    background-color: #04AA6D;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.issue-option:hover{
    filter: brightness(1.2);
}


.description-textbox{
    height:auto;
    resize:none;
    width: 96%;
}


#category-question{
    height:0;
    transition: height 0.4s, transform 0.4s;
}
#primary-issue-question{
    height:0%;
    transition: height 0.4s, transform 0.4s;
}
#image-question{
    height:0%;
    transition: height 0.4s, transform 0.4s;
}

#location-details{
    text-align: left;
    padding: 3%;
}
#location-details p{
    font-size: 15px;
}

#camera-button{
    background-color: lightgrey;
    margin: 2%;
    padding: 15px;
    border-radius: 15px;
    display: 'block';
}

#submitted-photo{
    height: 50%;
    width: 100%;
}
#chars-remaining-message{
    color: green;
    font-weight: bold;
    
}